<div class="jumbotron">
	<h1>Go to something</h1>
	<p>
		Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam, quibusdam, necessitatibus, porro doloribus quia voluptatum dolores nobis dignissimos molestias beatae explicabo dolorem assumenda iure rerum aliquam consequuntur sit voluptatibus eaque?
	</p>
	<p>
		Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas, nostrum, natus maxime provident fuga quam nulla ut ratione tenetur voluptas ab sed eius voluptatem harum voluptate assumenda rerum incidunt nemo.
	</p>
	<button class="btn btn-primary btn-lg">Go to something</button>
</div>